

#stash-groups-ui {
  position: absolute;
  top: 7px;
  left: 511px;
  min-width: 75px;
}

#stash-groups-ui a {
  cursor: pointer;
  display: inline-block;
}

#stash-groups-ui .sg-primary {
  color: #707070 !important;
  margin-left: -3px;
}

#stash-groups-ui .sg-secondary {
  margin-left: 3px;
  color: #ddd;
}

#stash-groups-ui .sg-secondary:hover {
  color: #707070;
}